.produc-detail-wrapper {
  margin: 120px 0 0 25px;
  display: flex;
  justify-content: center;
  min-height: 73vh;
  .product {
    width: 100%;
  }
  .product-header {
    display: flex;
    .product-description {
      width: 75%;
      margin-left: 5%;
      h2 {
        color: #3498db;
        font-family: "Titillium Web", sans-serif;
        margin: 0;
        font-size: 24px;
        line-height: 24px;
      }

      h3 {
        font-family: "Titillium Web", sans-serif;
        margin: 4px 0;
        font-size: 18px;
        color: #ca3535;
      }
      p {
        margin: 4px 0;
        font-family: "Titillium Web", sans-serif;
        font-size: 15px;
        color: #888;
      }
    }
  }
  .anotation {
    position: relative;
    p {
      padding: 5px;
      width: 115px;
      text-align: center;
      background-color: #3498db;
      z-index: 2;
      position: relative;
      margin-left: 10px;
      color: #fff;
      font-size: 16px;
      font-family: "Titillium Web", sans-serif;
      border-radius: 3px;
    }
    &::after {
      content: " ";
      width: 100%;
      position: absolute;
      top: 50%;
      left: 0;
      height: 1px;
      background-color: #888;
      transform: translate(0, -50%);
      z-index: 1;
    }
  }
  .favorite {
    background: url("../../assets/icons/star.svg") no-repeat center;
    background-size: 25px;
    &:hover {
      background: url("../../assets/icons/starHover.svg") no-repeat center;
      background-size: 25px;
    }
    &.selected {
      background: url("../../assets/icons/starSelected.svg") no-repeat center;
      background-size: 25px;
    }
    transition: all 0.15s ease-in;
    color: #fff;

    height: 30px;
    cursor: pointer;
    width: 30px;
    position: relative;
    top: 0;
    right: 0;
  }
  .book-description-wrapper {
    color: #333;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    font-size: 14px;
  }
}
