.vertical-advert-section {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 105px;
  background-color: #f8f8f8;
  .vertical-advert-section-wrapper {
    background-color: #007bff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    .vertical-advert-animation {
      width: 50%;
      position: relative;
      height: 105px;
      .animation-wrapper {
        display: block;
        width: calc(100% + 100px);
        height: 100%;
        position: absolute;
        left: -100px;
      }
    }
    .vertical-advert-text {
      width: 50%;
      height: 105px;
      position: relative;
      display: flex;
      align-items: center;
      padding: 0 0 0 15px;
      .triangle-topright {
        width: 0;
        height: 0;
        border-top: 105px solid #007bff;
        border-right: 105px solid transparent;
        position: absolute;
        right: -4px;
        z-index: 1;
      }
      h2 {
        margin: 0 0 10px 0;
        font-family: "Titillium Web", sans-serif;
        font-weight: bold;
        color: #ffffff;
        font-size: 18px;
        width: 300px;
        line-height: 25px;
        text-transform: uppercase;
      }
      a {
        padding: 5px 7px;
        width: 140px;
        background-color: #ff4c3b;
        color: #fff;
        text-align: center;
        border-radius: 5px;
        font-size: 13px;
        margin: 0;
        cursor: pointer;
        text-decoration: none;
        display: block;
      }
    }
  }
}

.products-view-section {
  display: flex;
  justify-content: center;
  margin: 50px 0;
  .products-view-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    .product {
      position: relative;
      display: flex;
      width: 100%;
      padding: 20px;
      background-color: #f8f8f8;
      border-radius: 5px;
      a {
        position: relative;
        display: flex;
        width: 100%;
        padding: 0;
        text-decoration: none;
        cursor: initial;
      }
      .product-image {
        margin: 0 20px 0 0;
      }
      .product-details-btn {
        &:hover {
          color: #4588ff;
          background-color: #fff;
          text-decoration: underline;
        }
        transition: all 0.15s ease-in;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        background-color: #4588ff;
        color: #fff;
        line-height: 40px;
        height: 40px;
        text-align: center;
        font-family: "Titillium Web", sans-serif;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 18px;
        cursor: pointer;
        border-radius: 4px;
      }
      .product-description {
        position: relative;
        padding: 0 0 40px 0;
        h2 {
          color: rgb(69, 136, 255);
          font-family: "Titillium Web", sans-serif;
          margin-top: 0;
          margin-bottom: 10px;
          font-size: 24px;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
        h3 {
          margin-top: 0;
          margin-bottom: 10px;
          font-size: 18px;
          color: #ca3535;
        }
        p {
          padding: 0 0 0 5px;
          color: black;
          margin: 0 0 7px 0;
          font-family: "Roboto", sans-serif;
          padding: 0 0 5px 0;
          border-bottom: 1px solid #ccc;
          &:nth-of-type(6) {
            border-bottom: 0;
          }
          span {
            color: #736c6c;
          }
          &.ranking span {
            color: orange;
          }
          &.status span {
            color: green;
          }
          &.name span {
            color: rgb(69, 136, 255);
          }
        }
      }
    }
  }
}
