.product-filter-section {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 105px;
  background-color: #f8f8f8;
  .product-filter-section-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    .product-animation {
      width: 50%;
      position: relative;
      height: 105px;
      .animation-wrapper {
        display: block;
        width: calc(100% + 100px);
        height: 100%;
        position: absolute;
        left: -100px;
      }
    }
    .product-types {
      width: 50%;
      height: 105px;
      position: relative;
      display: flex;
      align-items: center;
      .triangle-topright {
        width: 0;
        height: 0;
        border-top: 105px solid #f8f8f8;
        border-right: 105px solid transparent;
        position: absolute;
        right: -4px;
        z-index: 1;
      }
      h2 {
        margin: 0 0 10px 0;
        font-family: "Roboto", sans-serif;
        font-weight: normal;
        color: #222222;
      }
      ul {
        display: flex;
        li {
          font-family: "Roboto", sans-serif;
          font-weight: normal;
          color: #6c757d;
          text-decoration: none;
          margin-right: 10px;
          &:last-child {
            margin-right: 0;
          }
          a {
            font-family: "Roboto", sans-serif;
            font-weight: normal;
            color: #6c757d;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.products-view-section {
  display: flex;
  justify-content: center;
  margin: 50px 0;
  .products-view-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    .product {
      position: relative;
      display: flex;
      width: 100%;
      padding: 20px;
      background-color: #f8f8f8;
      border-radius: 5px;
      .product-image {
        margin: 0 20px 0 0;
      }
      .product-details-btn {
        position: absolute;
        right: 20px;
        bottom: 20px;
      }
    }
  }
}
