body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*  custom add reset css */

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 800px;
  margin: 0;
  padding: 0;
  display: flex;
}

h2,
h3,
h4 {
  font-family: "Titillium Web", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
}
