footer.main-footer {
  display: flex;
  background-color: #f9f9f9;
  justify-content: center;
  padding: 20px 0 10px 0;
  .main-footer-wrapper {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
    h5 {
      margin: 10px 0;
      font-family: "Roboto", sans-serif;
    }
    // align-items: center;
    .footer-about-sidebar {
      width: 35%;
    }
  }
  ul {
    li {
      position: relative;
      color: #777777;
      font-family: "Titillium Web", sans-serif;

      a {
        font-family: "Titillium Web", sans-serif;
      }
      &.sn-f a:hover {
        color: #4267b2;
      }

      &.sn-i a:hover {
        color: #c13584;
      }

      &.sn-t a:hover {
        color: #1da1f2;
      }

      a {
        position: relative;
        color: #777777;
        text-decoration: none;
      }
    }
  }
}
